/* tables */
table.viewtable {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 12pt;
	width: 100%;
	text-align: left;
}
table.viewtable thead tr th, table.viewtable tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 14pt;
	padding: 4px;
}
table.viewtable thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.viewtable tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
    font-weight: bold;
}
table.viewtable tbody tr.odd td {
	background-color:#F0F0F6;
}
table.viewtable tbody tr.critical td {
	background-color:#F06868;
}
table.viewtable tbody tr.warning td {
	background-color:yellow;
}
table.viewtable tbody tr.ok td {
	background-color:green;
}
table.viewtable tbody tr.unknown td {
	background-color:lightgrey;
}
table.viewtable thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.viewtable thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.viewtable thead tr .headerSortDown, table.viewtable thead tr .headerSortUp {
background-color: #8dbdd8;
}
/*divs*/
#msgBox {
display: inline-block;
background-color:yellow;
text-align: center;
border-radius: 10px;
}
