/* tables */
table.viewtable {
	font-family:Verdana, "Tahoma", "Helvetica", "arial", "sans";;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 12pt;
	width: 100%;
	text-align: left;
    table-layout: fixed;
}
table.viewtable thead tr th, table.viewtable tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 14pt;
	padding: 4px;
}
table.viewtable thead tr .header {
	background-image: #D0D0EE;
	cursor: pointer;
}
table.viewtable tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
    font-weight: bold;
}
table.viewtable tbody td.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table.viewtable tbody tr.critical td {
	background-color: #F06868;
}
table.viewtable tbody tr.warning td {
	background-color: orange;
}
table.viewtable tbody tr.ok td {
	background-color: greenYellow;
}
table.viewtable tbody tr.unknown td {
	background-color: lightgrey;
}
table.viewtable tbody tr.acknowledged td {
    background-color: lightgrey;
}
table.viewtable thead tr th {
    margin-right: 16px;
}
table.viewtable thead tr .sorting_desc {
	background-image: url(sort_desc.png);
    background-repeat: no-repeat;
    background-position: right;
}
table.viewtable thead tr .sorting_asc {
    background-image: url(sort_asc.png);
    background-repeat: no-repeat;
    background-position: right;
}
table.viewtable thead tr .sorting {
    background-image: url(sort.png);
    background-repeat: no-repeat;
    background-position: right;
}
table.viewtable .even td {
    background-image: url(white_overlay.png);
}
h1.tabletitle {
    text-align: center;
}
.tabletitle {
    margin-bottom: -1em;
}
.host_name {
    color: #3D3D3D;
    text-decoration: none;
}
.service_name {
    color: #3D3D3D;
    text-decoration: none;
}
.hidden {
    display: none;
}
a:hover {
    text-decoration: underline;
}
.dataTables_filter {
    display: none;
}
/* form */
form {
    text-align: center;
}
/* fieldset */
fieldset {
    border-radius: 5;
    display: block;
    text-align: left;
    background-color: #D0E0F0
}
.formfieldset {
    display: inline-block;
}
fieldset label {
    text-align: right;
    margin-right: 1em;
    width: 4em;
    float: left;
    display: block;
}
fieldset input {
    text-align: left;
    margin-left: 1em;
}
fieldset legend {
    border-radius: 5;
    border: 2px groove threedface;
    background-color: #A0C0F0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
/* filters */
.filter div {
    display: inline;
}
/* controls */
.controls ul li {
    border: 1px solid;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #D0E0F0;
}
.centered {
    text-align: center;
}
/* errors */
.error {
    color: red;
    font-style: italic;
}
/*divs*/
#msgBox {
    text-align: center;
    position: relative;
}
#msgBox div {
    display: inline;
    padding: 5px;
    background-color:yellow;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
}
#content {
    text-align: left;
}
#footer {
    text-align: right;
}
#toggles {
    position: absolute;
    top: 0;
    padding-top: 0.5em;
}
.toggle {
    background-color: darkgrey;
    display: inline;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.toggle a {
    color: white;
    text-decoration: none;
}
.toggle a:hover {
    text-decoration: underline;
}
.toggle a:active {
    text-decoration: underline;
}
/* nav bar */
#toolbar {
    text-align: right;
    position: relative;
}
.navi {
    background-color: darkgrey;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    position: relative;
    display: inline;
}
.navi a {
    color: white;
    text-decoration:none;
}
.navi a:hover {
    color: white;
    text-decoration:underline;
}
.navi a:active {
    color: white;
    text-decoration:underline;
}
/* Rule entry form */
.childfieldset {
    display: none;
}
/* user listing */
div.user {
    display: inline-block;
    width: 8em;
}
div.admin {
    display: inline-block;
    width: 8em;
}
div.disabled {
    display: inline-block;
    width: 8em;
}
/* view selector */
.viewselect_container {
    text-align: center;
}
.viewselect {
    display: inline-block;
    text-align: left;
}
.viewselect ul {
    border: 2px groove threedface;
    min-height: 50px;
    min-width: 50px;
    border-radius: 5px;
    padding-left: 0;
    list-style: none;
}
.viewselect ul li {
    border: 2px groove threedface;
}
