/* tables */
table.viewtable {
	font-family:Verdana, "Tahoma", "Helvetica", "arial", "sans";;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 12pt;
	width: 100%;
	text-align: left;
}
table.viewtable thead tr th, table.viewtable tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 14pt;
	padding: 4px;
}
table.viewtable thead tr .header {
	background-image: #D0D0EE;
	cursor: pointer;
}
table.viewtable tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
    font-weight: bold;
}
table.viewtable tbody tr.odd td {
	background-color:#F0F0F6;
}
table.viewtable tbody tr.critical td {
	background-color:#F06868;
}
table.viewtable tbody tr.warning td {
	background-color:yellow;
}
table.viewtable tbody tr.ok td {
	background-color:green;
}
table.viewtable tbody tr.unknown td {
	background-color:lightgrey;
}
table.viewtable thead tr .sorting_desc {
	background-image: url(white_overlay.png);
}
table.viewtable thead tr .sorting_asc {
    background-image: url(white_overlay.png):
}
table.viewtable .even td {
    background-image: url(white_overlay.png);
}
h1.tabletitle {
    text-align: center;
}
/* login */
#login {
    text-align: center;
}
#login fieldset {
    border-radius: 5;
    display: inline-block;
    text-align: left;
    background-color: #D0E0F0
}
#login fieldset label {
    text-align: right;
    margin-right: 1em;
    width: 4em;
    float: left;
    display: block;
}
#login fieldset input {
    text-align: right;
    margin-left: 1em;
}
#login fieldset legend {
    border-radius: 5;
    border: 2px groove threedface;
    background-color: #A0C0F0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#login .error {
    color: red;
    font-style: italic;
}
/*divs*/
#msgBox {
    text-align: center;
    position: relative;
}
#msgBox div {
    display: inline;
    padding: 5px;
    background-color:yellow;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
}
#content {
    height: 100%;
}
#footer {
    text-align: right;
    height: 1em;
    margin-top: -1em;
}
/* nav bar */
#toolbar {
    text-align: right;
    position: relative;
}
.navi {
    background-color: darkgrey;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    position: relative;
    display: inline;
}
.navi a:link {
    color: white;
    text-decoration:none;
}
.navi a:visited {
    color: white;
    text-decoration:none;
}
.navi a:hover {
    color: white;
    text-decoration:underline;
}
.navi a:active {
    color: white;
    text-decoration:underline;
}
/* Rule entry form */
.childfieldset {
    display: none;
}
