<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}" />
        <title>{% block title %}{% endblock %} - Nag Dash</title>
        {% endblock %}
    </head>
    <body>
        {% include "toolbar.html" %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            {%- block footer -%}
            &copy; Copyright 2012 by <a href="http://redkrieg.com/">Brandon Whaley</a>.
            {%- endblock -%}
        </div>
    </body>
</html>
