{% extends "view_base.html" %}
{% block head_js %}
{{ super() }}
function operatorCallback() {
    var newval = $(this).val();
    var myChild = $(this).parent().children('.childfieldset');
    if (newval.indexOf("child") != -1) {
        $.get('{{ url_for('get_filter_row') }}', function(data) {
            myChild.html(data);
            myChild.slideDown('medium');
            myChild.find(".operator").change(operatorCallback);
            myChild.find(".chain").change(chainCallback);
        });
    } else {
        myChild.slideUp('medium');
        myChild.html('');
    }
}

function chainCallback() {
    var newval = $(this).val();
    var myParentDiv = $(this).parent();
    if (newval.indexOf("null") == -1) {
        //This prevents us from adding extra rows when there is an unchained row already
        if (myParentDiv.parent().children(".filterelement:last").children(".chain").val() != "null") {
            $.get('{{ url_for('get_filter_row') }}', function(data) {
                myParentDiv.parent().append(data);
                myParentDiv.parent().find(".chain:last").change(chainCallback);
                myParentDiv.parent().find(".operator:last").change(operatorCallback);
            });
        }
    } else {
        var nextDiv = myParentDiv.next();
        while (nextDiv.length != 0) {
            nextDiv.remove();
            nextDiv = myParentDiv.next();
        }
    }
}

function updateLiveFilter() {
    var filtername = $('#title').val();
    $('#title').val('{{ session['username'] }}liveeditor');
    var data = $("#filter").serialize();
    $('#title').val(filtername);
    $.post('{{ url_for('save_filter') }}', data);
}

setInterval('updateLiveFilter()',20000);

{% endblock %}
{% block js_document_ready %}
    {{ super() }}
    $(".operator").change(operatorCallback);
    $(".chain").change(chainCallback);
    $(".childfieldset").show();
    $(".childfieldset:empty").hide();
{% endblock %}
{% block title %}Filter Editor{% endblock %}
{% block content %}
<form id='filter' action = "{{ url_for('save_filter') }}" method='post'>
    <fieldset>
        <legend>Filter</legend>
        <label for='title'>Title:</label><input type="text" maxlength="64" name="title" id="title" {% if title is not none %}value="{{ title }}"{% endif %} />
        <label for='description'>Description:</label><input type="text" maxlength="512" name="description" id="description" {% if description is not none %} value="{{ description }}" {% endif %}/><br />
        <div id="filterlist">
        {% if title is not none %}
        {{ data|safe }}
        {% else %}
        {% include "filter_element.html" %}
        {% endif %}
        </div>
        {% if error is not none %}<br /><div class='error'>{{ error }}</div>{% endif %}
        <input type='submit' name='submit' value='Submit' />
    </fieldset>
</form>
{{ super() }}
{% endblock %}
{% block views %}
            {% set view = '%sliveeditor' % session['username'] %}{% include "table.html" %}
{% endblock %}
