<select name="field{{ id }}" id="field{{ id }}" class="field">
    {% for field in service_fields %}<option>{{ field }}</option>
    {% endfor %}
</select>
<select name="operator{{ id }}" id="operator{{ id }}" class="operator">
    {% for op in operators %}<option>{{ op }}</option>
    {% endfor %}
</select>
<input type="text" name="value{{ id }}" id="value{{ id }}" class="value" />
<select name="chain{{ id }}" id="chain{{ id }}" class="chain">
    {% for rule in chain_rules %}<option>{{ rule }}</option>
    {% endfor %}
</select>
<fieldset id="fieldset{{ id }}" class="childfieldset"></fieldset>
