{% extends "base.html" %}
{% block title %}Filter List{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
<script type="text/javascript" id="js">
$(document).ready(function() {
    $(function() {
        $("#availableviews, #myviews").sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();
    });

    $("#saveviews").click(function() {
        var filterNames = [];
        $("#myviews li").each(function(i) {
            filterNames.push(
                $(this).find('a').text()
            );
        });
        //logging to debug this function's "order" issue.
        console.log(filterNames);
        $.post('{{ url_for('list_filters') }}', { 'views': filterNames }, function(data) {
            if ( data.indexOf("success") == -1 ) {
                $('#msgBox div').text("Couldn't update filters!  Check login and the backend!")
                    .slideDown('medium')
                    .delay(3000)
                    .slideUp('medium');
            } else {
                $('#msgBox div').addClass("success")
                    .text("Saved your filters!")
                    .slideDown('medium')
                    .delay(3000)
                    .slideUp('medium')
                    .removeClass("success");
            }
        }).error(function() {

            $('#msgBox div').text("Couldn't update filters!  Check login and the backend!")
                .slideDown('medium')
                .delay(3000)
                .slideUp('medium');
        });;
    });
});
</script>
{% endblock %}
{% block content %}
<div id="msgBox"><div></div></div>
<div class="viewselect_container">
    <div class="viewselect">
        <fieldset>
            <legend>Available views</legend>
            <ul id="availableviews" class="connectedSortable">
                {% for filter_object in filter_list %}
                {% if filter_object['NAME'] not in session['views'] %}
                <li class="filter">
                    <div class="filtername">
                        <a href="{{ url_for('edit_filter', filtername = filter_object['NAME']) }}">{{ filter_object['NAME'] }}</a>
                    </div>
                    <div class="filterdesc">
                        {{- filter_object['DESCRIPTION'] -}}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </fieldset>
    </div>
    <div class="viewselect">
        <fieldset>
            <legend>Your views</legend>
            <ul id="myviews" class="connectedSortable">
                {% for filter_object_name in session['views'] %}
                <li class="filter">
                    <div class="filtername">
                        <a href="{{ url_for('edit_filter', filtername = filter_object_name) }}">{{ filter_object_name }}</a>
                    </div>
                    <div class="filterdesc">
                        {% for filter_object in filter_list %}
                        {% if filter_object['NAME'] == filter_object_name %}
                        {{- filter_object['DESCRIPTION'] -}}
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
    <div class="controls">
        <ul>
            <li><a href="#" id="saveviews">Save views</a></li>
            <li><a href="{{ url_for('edit_filter') }}">Create a new filter</a></li>
        </ul>
    </div>
    {% if error is not none and error != "" > 0 %}<br /><div class='error'>{{ error }}</div>{% endif %}
</div>
{% endblock %}
