        <h1 class="tabletitle">{{ description }}</h1>
        <table cellspacing="1" class="viewtable">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Service</th>
                    <th>Status</th>
                    <th>Duration(secs)</th>
                    <th>Duration</th>
                    <th>Attempt</th> 
                    <th>Output</th>
                </tr>
            </thead>
            <tbody data-source='{{ url_for('api_filter', filter=view) }}'>
            </tbody>
        </table>
