{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
<script type="text/javascript" id="js">
$(document).ready(function() {
    $(".operator").change(function() {
        var newval = $(this).val();
        if (newval.indexOf("child") != -1) {
            $.get('{{ url_for('get_filter_row') }}', function(data) {
                var myChild = $(this).parent();
                alert(myChild.html());
                alert($(this).parent().html());
                alert(data);
                //myChild.html(data);
                //myChild.slideDown('medium');
            });
        } else {
            var myChild = $(this).parent().children('.childfieldset');
            myChild.slideUp('medium');
            myChild.html('');
        }
    });
});
</script>
{% endblock %}
{% block title %}Test for filter creation{% endblock %}
{% block content %}
<form id='filter' action = "{{ url_for('save_ruleset') }}" method='post'>
    <fieldset>
        <legend>Filter</legend>
        <label for='title'>Title:</label><input type="text" maxlength="50" name="title" id="title" /><br />
        {% for id in range(10) %}
            {% include "filter_element.html" %}<br />
        {% endfor %}
        {% if error is not none %}<br /><div class='error'>{{ error }}</div>{% endif %}
        <input type='submit' name='submit' value='Submit' />
    </fieldset>
</form>
{% endblock %}
