<!doctype html>
<html lang="en">
    <head>
        <title>Nagios Dashboard</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css" id="" media="print, projection, screen" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/jquery.dataTables.min.js"></script>
        <script type="text/javascript" id="js">

            function set_color_classes() {

                $("table.viewtable td").each(function (i) {
                    if ($(this).text() == "CRITICAL") {
                        $(this).parent().addClass("critical")
                    } else if($(this).text() == "OK") {
                        $(this).parent().addClass("ok")
                    } else if($(this).text() == "WARNING") {
                        $(this).parent().addClass("warning")
                    } else if($(this).text() == "UNKNOWN") {
                        $(this).parent().addClass("unknown")
                    }
                });
                return false
            }

            function update_table() {

                $.getJSON($('.viewtable tbody').data('source'), function(data) {

                    var rTable = $('.viewtable').dataTable();

                    // update table content
                    rTable.fnClearTable();
                    rTable.fnAddData(data);
                    set_color_classes()
                    return false

                }).error(function() {

                    $('#msgBox div').text("Couldn't update status!  Check login and the backend!")
                    .slideDown('medium')
                    .delay(3000)
                    .slideUp('medium');

                });

                return false

            }

            $(document).ready(function() {

                $('#msgBox div').hide();

                $('.viewtable').dataTable( {
                    "bPaginate": false,
                    "bLengthChange": true,
                    "bInfo": false,
                    "bFilter": false,
                    "bAutoWidth": false,
                    "aaSorting": [[ 3, "desc" ]]
                } );

                update_table()

            });

            setInterval('update_table()',10000);

        </script>
    </head>
    <body>
        <div id="msgBox"><div></div></div>
        <table cellspacing="1" class="viewtable">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Service</th>
                    <th>Status</th>
                    <th>Duration</th>
                    <th>Attempt</th>
                    <th>Output</th>
                </tr>
            </thead>
            <tbody data-source='/api/json'>
            </tbody>
        </table>
    </body>
</html>
