<html lang="en">
    <head>
        <title>Nagios Dashboard</title>
        <link rel="stylesheet" href="/static/themes/blue/style.css" type="text/css" id="" media="print, projection, screen" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" id="js">

            $(document).ready(function() {

                $("table").tablesorter();

            });         

        </script>
    </head>
    <body>
        <table cellspacing="1" class="tablesorter">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Service</th>
                    <th>Status</th>
                    <th>Duration</th>
                    <th>Attempt</th>
                    <th>Output<th>
                </tr>
            </thead>
            <tbody>
                {% for host in nag_status %}
                    {% for service in nag_status[host] %}
                        {% if service != 'HOST' %}
                <tr>
                            {% for column in parse_row(nag_status[host][service]) %}
                    <td>
                        {{ column }}
                    </td>
                            {% endfor %}
                </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
