{% extends "base.html" %}
{% block title %}Dashboard view for {{ session['username'] }}{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" id="js">
    {% block head_js %}
        function set_color_classes(table) {

            $(table).find("td").each(function (i) {
                var parenttr = $(this).parent();
                if ($(this).text() == "CRITICAL") {
                    parenttr.addClass("critical");
                } else if($(this).text() == "OK") {
                    parenttr.addClass("ok");
                } else if($(this).text() == "WARNING") {
                    if ($("#togglewarn").data('hidden') == 1) {
                        parenttr.addClass("hidden");
                    }
                    parenttr.addClass("warning");
                } else if($(this).text() == "UNKNOWN") {
                    parenttr.addClass("unknown");
                } else if($(this).text() == "ACKNOWLEDGED") {
                    if ($("#toggleack").data('hidden') == 1) {
                        parenttr.addClass("hidden");
                    }
                    parenttr.addClass("acknowledged");
                }
            });

            return false;

        }

        function update_table(table) {

            $.getJSON($(table).children('tbody').data('source'), function(data) {

                var rTable = $(table).dataTable();

                // update table content
                rTable.fnClearTable();
                rTable.fnAddData(data);
                set_color_classes(table);
                var lastChildren = $(table).find('td');
                if (window.innerWidth >= 850) {
                    lastChildren.addClass('truncated');
                }
                lastChildren.each(function() {
                    if ($(this).attr("title") == undefined) {
                        $(this).attr("title", $(this).text());
                    }
                });

                return false;

                }).error(function() {

                    $('#msgBox div').text("Couldn't update status!  Check login and the backend!")
                    .slideDown('medium')
                    .delay(3000)
                    .slideUp('medium');

                });

                return false;

            }

            function update_tables() {

                $('.viewtable').each(function() {
                    update_table(this);
                });

                return false;

            }

            function animate_flap() {
                $(".flapping").fadeToggle('fast');
            }

            function filter_table( view ) {
                $(".view_table_" + view).dataTable().fnFilter(
                    $("#filter_box_" + view).val(),
                    null,
                    true,
                    false,
                    false,
                    true
                );
                $(".view_table_" + view).each(function() {
                    set_color_classes(this);
                });
            }

            $(document).ready(function() {
                {% block js_document_ready %}
                $('#msgBox div').hide();

                $('.viewtable').dataTable( {
                    "bPaginate": false,
                    "bLengthChange": true,
                    "bInfo": false,
                    "bFilter": true,
                    "bAutoWidth": false,
                    "aoColumns": [null, null, null, {"bVisible":false}, {"iDataSort":3}, null, {"sWidth":"50%"}],
                    "aaSorting": [[ 2, "asc" ], [ 4, "desc" ]],
                    "oLanguage": { "sEmptyTable": "Everything's okay in this view!" }
                } );

                update_tables();
                setInterval('update_tables()',10000);
                setInterval('animate_flap()',2000);

                $("#togglewarn").data('hidden', 1);
                $("#toggleack").data('hidden', 1);

                $("#togglewarn").click(function() {
                    if ($(this).data('hidden') == 1) {
                        $(this).data('hidden', 0);
                        $(".warning").removeClass("hidden");
                    } else {
                        $(this).data('hidden', 1);
                        $(".warning").addClass("hidden");
                    }
                });

                $("#toggleack").click(function() {
                    if ($(this).data('hidden') == 1) {
                        $(this).data('hidden', 0);
                        $(".acknowledged").removeClass("hidden");
                    } else {
                        $(this).data('hidden', 1);
                        $(".acknowledged").addClass("hidden");
                    }
                });
                
                {% for view in session['views'] %}
                $("#filter_box_{{ view }}").keyup(function() { filter_table("{{ view }}"); } );
                {% endfor %}
                {% endblock %}
            });

        {% endblock %}
        </script>
{% endblock %}
{% block content %}
        <div id="msgBox"><div>Seems legit.</div></div>
        <div id="toggles">
            <div class="toggle">
                <a id="togglewarn" href="#">Toggle warnings</a>
            </div>
            <div class="toggle">
                <a id="toggleack" href="#">Toggle acknowlegements</a>
            </div>
        </div>
        {% block views %}
        {% set api_func = 'api_host' %}
        {% set view = 'host' %}
        {% set description = 'Hosts Down' %}
        {% include "table.html" %}
        {% set api_func = 'api_filter' %}
        {% for view in session['views'] %}
        {% set description = get_description(view) %}
            {% include "table.html" %}
        {% endfor %}
        {% endblock %}
{% endblock %}
