{% extends "base.html" %}
{% block title %}Dashboard view for {{ session['username'] }}{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" id="js">
    {% block head_js %}
        function set_color_classes(table) {

            $(table).find("td").each(function (i) {
                var parenttr = $(this).parent();
                if ($(this).text() == "CRITICAL") {
                    parenttr.addClass("critical");
                } else if($(this).text() == "OK") {
                    parenttr.addClass("ok");
                } else if($(this).text() == "WARNING") {
                    if ($("#togglewarn").data('hidden') == 1) {
                        parenttr.addClass("hidden");
                    }
                    parenttr.addClass("warning");
                } else if($(this).text() == "UNKNOWN") {
                    parenttr.addClass("unknown");
                } else if($(this).text() == "ACKNOWLEDGED") {
                    if ($("#toggleack").data('hidden') == 1) {
                        parenttr.addClass("hidden");
                    }
                    parenttr.addClass("acknowledged");
                }
            });

            return false;

        }

        function update_table(table) {

            $.getJSON($(table).children('tbody').data('source'), function(data) {

                var rTable = $(table).dataTable();

                // update table content
                rTable.fnClearTable();
                rTable.fnAddData(data);
                set_color_classes(table);
                $(table).find('td').filter('td:last-child').addClass('truncated');
                resize_output_column();

                return false;

                }).error(function() {

                    $('#msgBox div').text("Couldn't update status!  Check login and the backend!")
                    .slideDown('medium')
                    .delay(3000)
                    .slideUp('medium');

                });

                return false;

            }

            function update_tables() {

                $('.viewtable').each(function() {
                    update_table(this);
                });

                return false;

            }

            function animate_flap() {
                $(".flapping").fadeToggle('fast');
            }

            function resize_output_column() {
                var targetWidth = $(window).width() / 2 - 50;
                $('.viewtable').find('th').filter('th:last-child').width(targetWidth);
            }

            $(document).ready(function() {
                {% block js_document_ready %}
                $('#msgBox div').hide();

                $('.viewtable').dataTable( {
                    "bPaginate": false,
                    "bLengthChange": true,
                    "bInfo": false,
                    "bFilter": false,
                    "bAutoWidth": false,
                    "aoColumns": [null, null, null, {"bVisible":false}, {"iDataSort":3}, null, null],
                    "aaSorting": [[ 2, "asc" ], [ 4, "desc" ]],
                    "oLanguage": { "sEmptyTable": "Everything's okay in this view!" }
                } );

                $(window).resize(function() {
                    resize_output_column();
                });

                update_tables();
                setInterval('update_tables()',10000);
                setInterval('animate_flap()',2000);

                $("#togglewarn").data('hidden', 1);
                $("#toggleack").data('hidden', 1);

                $("#togglewarn").click(function() {
                    if ($(this).data('hidden') == 1) {
                        $(this).data('hidden', 0);
                        $(".warning").removeClass("hidden");
                    } else {
                        $(this).data('hidden', 1);
                        $(".warning").addClass("hidden");
                    }
                });

                $("#toggleack").click(function() {
                    if ($(this).data('hidden') == 1) {
                        $(this).data('hidden', 0);
                        $(".acknowledged").removeClass("hidden");
                    } else {
                        $(this).data('hidden', 1);
                        $(".acknowledged").addClass("hidden");
                    }
                });

                {% endblock %}
            });

        {% endblock %}
        </script>
{% endblock %}
{% block content %}
        <div id="msgBox"><div>Seems legit.</div></div>
        <div id="toggles">
            <div class="toggle">
                <a id="togglewarn" href="#">Toggle warnings</a>
            </div>
            <div class="toggle">
                <a id="toggleack" href="#">Toggle acknowlegements</a>
            </div>
        </div>
        {% block views %}
        {% for view in session['views'] %}
        {% set description = get_description(view) %}
            {% include "table.html" %}
        {% endfor %}
        {% endblock %}
{% endblock %}
